name: Test tap-csv-folder

on:
  push:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - tap_csv_folder/**
    - tests/**
    - poetry.lock
    - pyproject.toml
    - tox.ini
  pull_request:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - tap_csv_folder/**
    - tests/**
    - poetry.lock
    - pyproject.toml
    - tox.ini
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
    - name: Run Tox
      run: |
        uvx --with tox-uv tox -e $(echo py${{ matrix.python-version }} | tr -d .)
